<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.starkwm.sbar</string>
  <key>CFBundleName</key>
  <string>sbar</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>sbar shows Bluetooth power status and the names of connected devices in your bar.</string>
</dict>
</plist>
